In [1]:
import pandas as pd
import pandas_profiling
import numpy as np

In [2]:
%%javascript
require.config({
paths: {
d3: "https://d3js.org/d3.v5.min",
}
});

require(["d3"], function(d3) {
window.d3 = d3;
});

In [17]:
columns = ["symboling", "normalized-losses", "make", "fuel-type", "aspiration", "num-of-doors", "body-style", "drive-wheels", "engine-location", "wheel-base", "length", "width", "height",
           "curb-weight", "engine-type", "num-of-cylinders", "engine-size", "fuel-system", "bore", "stroke", "compression-ratio", "horsepower", "peak-rpm", "city-mpg", "highway-mpg", "price"]

df = pd.read_csv('imports-85.data', names=columns)

for col in df.columns:
    df[col] = pd.to_numeric(df[col], errors='ignore')

df.replace(to_replace=["na", "?", np.nan, "missing", "not available","n/a", "missing value"], value=np.nan, inplace=True)

In [ ]:
pandas_profiling.ProfileReport(df)

In [ ]:
columns = ["class", "age", "menopause", "tumor-size", "inv-nodes", 
           "node-caps", "deg-malig", "breast", "breast-quad", "irradiat"]

df = pd.read_csv('breast-cancer.data', names=columns)

df['deg-malig'].replace(to_replace={1: 'one', 2:'two', 3:'three'}, inplace=True)

df.replace(to_replace=["na", "?", np.nan, "missing", "not available","n/a", "missing value"], value=np.nan, inplace=True)


pandas_profiling.ProfileReport(df)

In [ ]:
columns = ["class","age","sex","histologic-type","degree-of-diffe","bone","bone-marrow","lung","pleura","peritoneum","liver","brain","skin","neck","supraclavicular","axillar","mediastinum","abdominal"]

df = pd.read_csv('primary-tumor.data', names=columns)

df.replace(to_replace=["na", "?", np.nan, "missing", "not available","n/a", "missing value"], value=np.nan, inplace=True)

for col in df.columns:
    df[col] = pd.to_numeric(df[col], errors='ignore')

df["class"].replace(to_replace= {1:"lung", 2:"head & neck", 3:"esophasus", 4:"thyroid", 5:"stomach", 6:"duoden & sm.int", 7:"colon", 8:"rectum", 9:"anus", 10:"salivary glands", 11:"pancreas", 12:"gallblader", 13:"liver", 14:"kidney", 15:"bladder", 16:"testis", 17:"prostate", 18:"ovary", 19:"corpus uteri", 20: "cervix uteri", 21:"vagina", 22:"breast"}, inplace=True)

df["age"].replace(to_replace ={1:"<30",2:"30-59",3:">60"}, inplace=True)
df["sex"].replace(to_replace ={1:"male",2:"female"}, inplace=True)
df["histologic-type"].replace(to_replace ={1.0:"epidermoid",2.0:"adeno", 3.0:"anaplastic"}, inplace=True)
df["degree-of-diffe"].replace(to_replace={1:"well", 2:"fairly", 3:"poorly"}, inplace=True)
df["bone"].replace(to_replace={1:"yes", 2:"no"}, inplace=True)
df["bone-marrow"].replace(to_replace={1:"yes", 2:"no"}, inplace=True)
df["lung"].replace(to_replace={1:"yes", 2:"no"}, inplace=True)
df["pleura"].replace(to_replace={1:"yes", 2:"no"}, inplace=True)
df["peritoneum"].replace(to_replace={1:"yes", 2:"no"}, inplace=True)
df["liver"].replace(to_replace={1:"yes", 2:"no"}, inplace=True)
df["brain"].replace(to_replace={1:"yes", 2:"no"}, inplace=True)
df["skin"].replace(to_replace={1:"yes", 2:"no"}, inplace=True)
df["neck"].replace(to_replace={1:"yes", 2:"no"}, inplace=True)
df["supraclavicular"].replace(to_replace={1:"yes", 2:"no"}, inplace=True)
df["axillar"].replace(to_replace={1:"yes", 2:"no"}, inplace=True)
df["mediastinum"].replace(to_replace={1:"yes", 2:"no"}, inplace=True)
df["abdominal"].replace(to_replace={1:"yes", 2:"no"}, inplace=True)
df["histologic-type"].unique()

In [ ]:
pandas_profiling.ProfileReport(df).to_file("../../../../Desktop/example.html")

In [4]:
df = pd.DataFrame({'porta': ['duas', 'quatro', 'duas', 'quatro', 'quatro', 'duas', 'duas'],
                    'combustivel': ['gas', 'diesel', 'gas', 'gas', 'diesel', 'diesel', 'gas'],
                    'body-style': ['sedan', 'hatch', 'hatch', 'sedan', 'sedan', 'hatch', 'hatch']
                    })

In [ ]:
table_data_format(df)

In [6]:
def build_data(df):
    count = []
    considered_cols = []
    last_index = 0
    keys = {}

    df.replace(to_replace=["na", "?", np.nan, "missing", "not available",
                           "n/a", "missing value"], value=np.nan, inplace=True)

    for col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='ignore')

    for col in df.columns:
        if df[col].dtype == "object":
            df[col].replace(to_replace=["na", "?", np.nan, "missing", "not available",
                                        "n/a", "missing value"], value="missing value", inplace=True)
            if df[col].unique().size < 25:
                considered_cols.append(col)
                keys[col] = {"values": df[col].unique().tolist(
                ), "start_i": last_index, "end_i": last_index + df[col].unique().size}
                last_index = last_index + df[col].unique().size
                for item in df[col].unique():
                    count.append([col, item])
    data_array = np.zeros((len(count), len(count)))

    for row in range(df.shape[0]):
        for col in range(df.shape[1]):
            for i in range(col+1, df.shape[1]):
                if df.columns[col] in considered_cols and df.columns[i] in considered_cols:
                    data_array[count.index([df.columns[col], df.iloc[row, col]]), count.index(
                        [df.columns[i], df.iloc[row, i]])] += 1

    data_array += np.transpose(data_array)
    return keys, data_array.tolist()

In [12]:
def table_data_format(df_orig):
    metadata = []
    df = df_orig
    df.replace(to_replace=["na", "?", np.nan, "missing", "not available",
                           "n/a", "missing value"], value=np.nan, inplace=True)

    for col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='ignore')

    for idx, col in enumerate(df.columns):
        helper = {}
        key = col
        if len(key) > 15:
            key = col[:15]

        helper['ascend'] = 0
        helper['name'] = key
        if(df.dtypes[col] == "object"):
            df[col].replace(to_replace=["na", "?", np.nan, "missing", "not available",
                                        "n/a", "missing value"], value="missing value", inplace=True)
            helper['datatype'] = 'string'
            helper['values'] = df[col].unique().tolist()
        elif(df.dtypes[col] == "int64"):
            helper['datatype'] = 'int'
            helper['min_val'] = df[col].min()
            helper['max_val'] = df[col].max()
        elif(df.dtypes[col] == "float64"):
            helper['datatype'] = 'float'
            helper['min_val'] = df[col].min()
            helper['max_val'] = df[col].max()
        metadata.append(helper)

    df.replace(to_replace=["na", "?", np.nan, "missing", "not available",
                           "n/a", "missing value"], value="missing value", inplace=True)
    data_array = []
    for row in range(df.shape[0]):
        aux = []
        for col in range(df.shape[1]):
            aux.append(df.iloc[row, col])
        data_array.append(aux)
    return metadata, data_array

In [51]:
fields = ['TP_SEXO', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ESCOLA', 'TP_ENSINO', 
          'IN_TREINEIRO', 'TP_LOCALIZACAO_ESC', "TP_PRESENCA_CN", 
          "TP_PRESENCA_CH", "TP_PRESENCA_LC", "TP_PRESENCA_MT", "NU_NOTA_CN", 'NU_NOTA_CH', 
          'NU_NOTA_LC', 'NU_NOTA_MT', 'TP_LINGUA', 'TP_STATUS_REDACAO', 'NU_NOTA_REDACAO', 'Q006', 'Q026']
df = pd.read_csv('C:\\Users\\Lucas\\Downloads\\microdados_enem2018\\DADOS\\MICRODADOS_ENEM_2018.csv', 
                 sep=';', encoding='latin-1', skipinitialspace=True, usecols=fields)

df.drop(df[
    (df['TP_ST_CONCLUSAO'] != 2) | 
    (df['TP_ENSINO'] != 1) | 
    (df['IN_TREINEIRO'] == 1) |
    (df['TP_PRESENCA_CN'] != 1) |
    (df['TP_PRESENCA_CH'] != 1) |
    (df['TP_PRESENCA_LC'] != 1) |
    (df['TP_PRESENCA_MT'] != 1) |
    (df['TP_STATUS_REDACAO'] != 1) |
    (df['Q026'] != 'B')
    ].index, inplace=True)

df['NOTA_FINAL'] = list(map(lambda a,b,c,d, e: (a + b + c + d + e)/5, df['NU_NOTA_CN'], df['NU_NOTA_CH'], df['NU_NOTA_LC'], df['NU_NOTA_MT'], df['NU_NOTA_REDACAO']))
df["TP_COR_RACA"].replace(to_replace ={0:np.nan,1:"Branca",2:'Preta',3:"Parda", 4:'Amarela', 5:'Indígena'}, inplace=True)
df["TP_NACIONALIDADE"].replace(to_replace ={0:np.nan,1:"Brasileiro(a)",2:'Brasileiro(a) Naturalizado(a)',3:"Estrangeiro(a)", 4:'Brasileiro(a) Nato(a), nascido(a) no exterior'}, inplace=True)
df.drop(columns=['TP_ST_CONCLUSAO', 'TP_ENSINO', 'IN_TREINEIRO', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'TP_PRESENCA_CN', 'TP_STATUS_REDACAO', 'Q026', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO'], inplace=True)
df["TP_ESCOLA"].replace(to_replace ={1:np.nan, 2:'Pública', 3:"Privada", 4:'Exterior'}, inplace=True)
df["TP_LOCALIZACAO_ESC"].replace(to_replace ={1:"Urbana", 2:'Rural'}, inplace=True)
df["TP_LINGUA"].replace(to_replace ={0:"Inglês", 1:'Espanhol'}, inplace=True)

In [52]:
df

,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ESCOLA,TP_LOCALIZACAO_ESC,TP_LINGUA,Q006,NOTA_FINAL
8,M,Parda,Brasileiro(a),Pública,Urbana,Inglês,C,417.16
16,M,Parda,Brasileiro(a),Pública,Urbana,Espanhol,B,530.28
26,F,Branca,Brasileiro(a),Pública,Urbana,Inglês,B,541.90
29,F,Parda,Brasileiro(a),Pública,Urbana,Espanhol,B,448.02
39,F,Branca,Brasileiro(a),Pública,Urbana,Inglês,C,473.72
...,...,...,...,...,...,...,...,...
5513730,M,Parda,Brasileiro(a),Pública,Urbana,Espanhol,E,403.66
5513735,F,Branca,Brasileiro(a),NaN,NaN,Inglês,J,436.46
5513736,M,Parda,Brasileiro(a),Pública,Urbana,Inglês,B,463.72
5513743,F,Parda,Brasileiro(a),Pública,Urbana,Inglês,B,460.26
5513745,F,Branca,Brasileiro(a),Exterior,Urbana,Espanhol,D,469.60